<h1>Jesse Etc.</h1>
<div id="mainBanner" data-imgid="29"></div>
<div id="nav" class="col-sm-12">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Listen</a></li>
        <li role="presentation"><a href="#">Tour</a></li>
        <li role="presentation"><a href="#">Facebook</a></li>
        <li role="presentation"><a href="#">Instagram</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
    </ul>
</div>
