<div id="mainBanner" data-imgid="29"></div>
<div id="nav" class="col-sm-12">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/" <%if (page == "home") {%> class="active" <%}%> >Home</a></li>
        <li role="presentation"><a href="/listen" <%if (page == "listen") {%> class="active" <%}%> >Listen</a></li>
        <li role="presentation"><a href="/tour" <%if (page == "tour") {%> class="active" <%}%> >Tour</a></li>
        <li role="presentation"><a href="https://www.facebook.com/profile.php?id=100011342916938&fref=ts" class="noActive" target="_blank">Facebook</a></li>
        <li role="presentation"><a href="https://www.instagram.com/jesseetc/?hl=en" class="noActive" target="_blank">Instagram</a></li>
        <li role="presentation"><a href="/contact" <%if (page == "contact") {%> class="active" <%}%> >Contact</a></li>
    </ul>
</div>
