<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <div id="tour">
        <h2>No Tour Dates Yet...</h2>
    </div>

    <% include ../partials/footer %>
</body>
</html>